<% include ../partials/headers/header-base %>

<!-- Include Card View specific styling -->
<link rel="stylesheet" type="text/css" href="/static/css/card.css">

<div class="contents">

  <div class="card">

    <div class="card-title">
      Password Reset
    </div>

    <form method="post">

      <div class="form-row">
        <div class="form-label"> Account Email </div>
        <input class="form-input" type="text" name="email" required>
      </div>

      <input type="submit" class="form-submit" value="Send Email">

    </form>

    <div style="margin-top: 50px;">
      <center><small>
        Know your password? 
        <a href="/login"><b>Login now.</b></a>
      </small></center>
    </div>

  </div>


</div>

<% include ../partials/footers/footer %>
