<% include ../partials/headers/header-base %>

<!-- Include Card View specific styling -->
<link rel="stylesheet" type="text/css" href="/static/css/card.css">

<div class="contents">

  <div class="card">

    <div class="card-title">
      Create New Password
    </div>

    <div style="margin-top: 20px; margin-bottom: 40px;">
      <small>
        Reset the password for <%= reset.email %>'s account. This action cannot be undone.
      </small>
    </div>


    <form method="post">

      <input type="hidden" name="pwresid" value="<%= reset.pwresid %>">
      <input type="hidden" name="cmid" value="<%= reset.cmid %>">
      <input type="hidden" name="uid" value="<%= reset.uid %>">

      <div class="form-row">
        <div class="form-label"> Password </div>
        <input class="form-input" type="password" name="pass" value="" required>
      </div>

      <div class="form-row">
        <div class="form-label"> Password (re-enter) </div>
        <input class="form-input" type="password" name="pass2" value="" required>
      </div>

      <input type="submit" class="form-submit" value="Update Password">

    </form>

    <div style="margin-top: 50px;">
      <center><small>
        <a href="/login"><b>Return to main Login page.</b></a>
      </small></center>
    </div>

  </div>

</div>

<% include ../partials/footers/footer %>
