<% include ../../partials/headers/header-base %>

<!-- Include Card View specific styling -->
<link rel="stylesheet" type="text/css" href="/static/css/card.css">

<div class="contents">

<!-- Moved the exit out of the card -->
<a href="/cms/<%= user.cmid %>/cls/<%= client.clid %>/comms">
  <% include ../../partials/card-exit %>
</a>

<div class="card">

  <div class="card-title">
    Create a Contact Method
  </div>

  <form method="post">

    <input type="hidden" name="cmid" value="<%= user.cmid %>">
    <input type="hidden" name="clid" value="<%= client.clid %>">

    <div class="form-row">
      <div class="form-label"> Name (ex: "Aunt's Phone") </div>
      <input class="form-input" type="text" name="description" maxlength="30" required>
    </div>

    <div class="form-row">
      <div class="form-label"> Communication Type </div>
      <select class="blue-select" name="type" required>
        <option value="" disabled>Comm Method</option>
        <option value="email" disabled>Email</option>
        <option value="cell" selected>Cellphone</option>
        <option value="landline" disabled>Landline</option>
      </select>
    </div>

    <div class="form-row">
      <div class="form-label"> Details (ex: phone number, email) </div>
      <input class="form-input" type="text" name="value" required>
    </div>

    <input type="submit" class="form-submit" value="Submit">

  </form>

</div>

</div>

<% include ../../partials/footers/footer %>
