<div class="emptyResultsGreeting">
  <div class="message">
    <b>Looks like there are no results.</b> 
    <br>
    <small>Use the action items in the top right to get started.</small>
  </div>
  <div class="icon">
    <i class="fa fa-hand-o-up" aria-hidden="true"></i>
  </div>
</div>