<% include ../partials/hubFrameTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_templates.css">

<div class="header">
  <div class="column">use count</div>
  <div class="column">subject</div>
  <div class="column">message</div>
  <div class="column">edit</div>
  <div class="column">delete</div>
</div>


<% templates.forEach(function (template) { %>
  <div class="templateRow">
    <div class="column">
      dddd
    </div>
    <div class="column">
      fffff
    </div>
    <div class="column">
      fffff
    </div>
    <div class="column">
      fffff
    </div>
  </div>
<% }) %>


<% include ../partials/hubFrameBottom %>