<% include ../partials/hubFrameTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_templates.css">

<div class="header">
  <div class="column">use count</div>
  <div class="column">subject</div>
  <div class="column">message</div>
  <div class="column">edit</div>
  <div class="column">delete</div>
</div>


<% templates.forEach(function (template) { %>
  <div class="templateRow">
    <div class="column">
      <%= template.times_used %>
    </div>
    <div class="column">
      <%= template.title %>
    </div>
    <div class="column">
      <%= template.content %>
    </div>
    <div class="column">
      <i class="fa highlight fa-pencil" aria-hidden="true"></i>
    </div>
    <div class="column">
      <i class="fa highlight fa-trash" aria-hidden="true"></i>
    </div>
  </div>
<% }) %>


<% include ../partials/hubFrameBottom %>