<% include ../partials/hubFrameTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_templates.css">

<div class="header">
  <div class="column">color</div>
  <div class="column">client name</div>
  <div class="column">unread</div>
  <div class="column">last activity</div>
  <div class="column">edit</div>
  <div class="column">transfer</div>
  <div class="column">remove</div>
</div>


<% include ../partials/hubFrameBottom %>