<% include ../partials/headers/header-base %>
<% include ../partials/headers/header-navbar %>

<!-- Include Capture Card View specific styling -->
<link rel="stylesheet" type="text/css" href="/static/css/captureboard.css">

<div class="contents">

  <div class="title">
    Capture Board
  </div>

  <div class="captureboard">

    <% convos.forEach(function (convo) { %>
      <div class="convoBlock">

        <div class="convoStream">
          <% convo.msgs.forEach(function (ea, i) { %>
            <div class="convoRow">
            
              <div class="msgInbound">
                <% if (ea.inbound) { %>
                  <div class="message">
                    <%= ea.content %>
                    klsdjf lksdjflsdjf lksjflks dlkfjsd flsdkjfklsdjfklsdlfsdlkjsdfjksd fljsdlkf sdlkfjsdlkjf
                    klsdjf lksdjflsdjf lksjflks dlkfjsd flsdkjfklsdjfklsdlfsdlkjsdfjksd fljsdlkf sdlkfjsdlkjf
                  </div>
                <% } %>
              </div>

              <div class="msgOutbound">
                <% if (!ea.inbound) { %>
                  <div class="message">
                    <%= ea.content %>
                    klsdjf lksdjflsdjf lksjflks dlkfjsd flsdkjfklsdjfklsdlfsdlkjsdfjksd fljsdlkf sdlkfjsdlkjf
                  </div>
                <% } %>
              </div>

            </div>
          <% }) %>

        </div>

        <div class="actionBox">
          
        </div>

      </div>
    <% }) %>

    <% if (convos.length == 0) { %>
      <center style="color:#888">
        Good news! There are no conversations left in the capture board.
      </center>
    <% } %>

  </div>
</div>

<% include ../partials/footers/footer %>
