$card-text:       #2F8CE8;
$card-text-light: #92C9FF;


// Modify background color of contents
.contents {
  background-color: #898989;
}

.captureboard {
  margin-left: -25px;
  margin-right: -25px;
}