$white:       #FFF;
$offwhite:    #E8ECEF;
$lightgrey:   #D3D3D3;
$grey:        #898989;
$black:       #000;
$lightorange: #FFA500;
$orange:      #E96100;
$red:         #E50000;
$lightblue:   #4A90E2;
$blue:        #3F69B6;
$darkblue:    #344289;

.convoBlock {
  overflow: hidden;
  height: 200px;
  background-color: $offwhite;
  border-top: 4px solid $offwhite;
  border-bottom: 4px solid $offwhite;

  .convoStream {
    width: 720px;
    height: 100%;
    overflow-y: scroll;
    margin-right: 4px;
    background-color: $white;

    .convoRow {
      .msgInbound {
        width: 340px;
        float: left;
        padding: 10px;
        font-size: 16px;
        color: $grey;

        .message {
          width: 100%;
          border-top: 1px solid #C4C4C4;
          padding-top: 5px;
        }
      }
      .msgOutbound {
        width: 340px;
        float: right;
        padding: 10px;
        font-size: 16px;
        color: $blue;

        .message {
          width: 100%;
          border-top: 1px solid #C4C4C4;
          padding-top: 5px;
          margin-top: -25px;
        }
      }

      &::after {
        content:"";
        display:block;
        clear:both;
      }
    }
  }

  .actionBox {
    height: 200px;
    width: 300px;
    background-color: $offwhite;
    float: left;

    .claimButton {
      width: 270px;
      height: 40px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      border: 1px solid #4A90E2;
      background-color: #FFF;
      color: #2F8CE8;
      text-align: center;
      font-weight: bold;
      font-size: 12px;
      line-height: 40px;
      border-radius: 5px;
      cursor: pointer;

      .fa {
        font-size: 25px;
        vertical-align: middle;
      }

      &:hover {
        background-color: #2F8CE8;
        color: #FFF;
      }
    }

    .tinyInfo {
      width: 270px;
      margin-right: auto;
      margin-left: auto;

      .blurb {
        width: 125px;
        float: left;
        padding: 10px 0px 10px 0px;

        .header {
          font-size: 10px;
          color: $grey;
          text-decoration: underline;
        }

        .value {
          font-size: 12px;
          font-weight: bold;
          color: #344289;
          line-height: 18px;
          float:right
        }
      }

      .blurb:nth-child(2) {
        padding-left: 20px;
      }

      &::after {
        content:"";
        display:block;
        clear:both;
      }
    }

    .closeButton {
      width: 270px;
      height: 30px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      border: 1px solid #4A90E2;
      color: #2F8CE8;
      border-radius: 5px;
      overflow: hidden;

      .left {
        width: 150px;
        height: 24px;
        float: left;
        font-size: 10px;
        padding: 4px 10px 4px 10px;
        text-align: left;
        word-wrap: break-word;
      }
      .right {
        text-align: center;
        color: $red;
        background-color: $white;
        width: 100px;
        float: left;
        font-weight: bold;
        line-height: 30px;
        font-size: 12px;
      }
      &:hover {
        background-color: $grey;
        color: $white;
        border: 1px solid #FFF;

        .right {
          background-color: $red;
          color: $white;
        }
      }
    }

  }
}

