$card-text:       #2F8CE8;
$card-text-light: #92C9FF;
$dark-blue:       #344289;
$light-blue:      #4A90E2;
$white:           #FFF;
$light-grey:      #C5C4C4;
$dark-grey:       #898989;
$lime-green:      #50E3C2;


// Body is going to same color as contents, all blue full bleed
// Contents to be same color so both appear to be same area
body, .contents {
  background-color: $dark-blue;
  background-image: none;
  box-shadow: none;
  border: 0;
  color: $dark-blue;
}

.alerts {
  color: $white;
  width: 100%
}


// 
// Rest of the SCSS from original card V1 styles
// 

.comms-link {
  color: $card-text;
  position: absolute;
  top: 20px;
  right: 25px;

  &:hover {
    color: $card-text-light;
  }
}

.card {
  position: relative;
  background-color: $white;
  width: 500px;
  overflow-x: hidden;
  
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 10px;

  box-shadow: 0px 3px 20px rgba(0,0,0,0.5);

  .card-head {

    .exit-btn {
      position: absolute;
      right: 20px;
      top: 20px;

      svg {
        polygon {
          fill: $light-grey;
        }
        &:hover polygon {
          fill: #898989;
        }
      }
    }

    .card-title {
      font-size: 30px;
      text-align: center;
      font-weight: 100;
      color: $dark-blue;
      padding-top: 15px;
      padding-bottom: 15px;

      // Float center
      padding-left: 50px;
      padding-right: 50px;
      text-align: center;

      border-bottom: 1px solid $light-grey;
      box-shadow: 0px 3px 5px rgba(0,0,0,0.075);
    }

    .card-subtitle {
      color: $dark-grey;
      font-size: 14px;
      padding: 10px 20px 5px 20px;
      text-align: center;
      margin-bottom: 15px;
    }

  }

  .card-body {
    .form-row {
      padding: 5px 30px 25px 30px;

      .form-label {
        font-size: 16px;
        font-weight: 700;
        padding-bottom: 3px;
        color: $dark-blue;

        small {
          display:block;
          font-weight: 300;
          font-size: 12px;
        }
      }

      .form-input {
        color: $dark-blue;
        font-size: 12;

        .input-option {
          float: left;
          margin-right: 20px;
        }

        input[type=text] {
          background: $white;
          width: 420px;
          font-size: 12px;
          line-height: 18px;
          height: 18px;
          max-width: 420px;
          border: 2px solid $light-blue;
          border-radius: 4px;
          outline: none;
          resize: none;
          overflow: auto;
          padding: 5px 10px 5px 10px;
        }

        textarea {
          background: $white;
          width: 420px;
          height: 50px;
          max-width: 420px;
          max-height: 50px;
          border: 2px solid $light-blue;
          border-radius: 4px;
          outline: none;
          resize: none;
          overflow: auto;
          padding: 5px 10px 5px 10px;
        }

        &::after {
          content:"";
          display:block;
          clear:both;
        }
      }

      .form-select {
        width: 440px;
        height: 35px;
        border: 2px solid $card-text;
        border-radius: 7px;
        background-color: $card-text-light;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        color: $dark-blue;

        &.half {
          width: 215px;
          float: left;
          
          &:nth-child(2) {
            margin-right: 20px;
          }
        }
      }

    }

    .template-box {
      width: 450px;
      max-height: 400px;
      border: 2px solid $card-text;
      border-radius: 7px;
      background-color: $white;
      color: $dark-blue;
      overflow-y: scroll;

      margin-right: auto;
      margin-left: auto;
      margin-bottom: 20px;

      &::-webkit-scrollbar { 
        display: none; 
      }
      
      .template-row {
        max-height: 100px;
        overflow: hidden;
        cursor: pointer;
        
        // border on bottom except for last
        border-bottom: 1px solid $light-grey;
        &:nth-last-child(1) {
          border-bottom: 0px;
        }

        .use-count {
          float: right;
          width: 45px;
          text-align: center;
          line-height: 70px;
          font-size: 18px;
          font-weight: 700;
          color: $light-blue;
        }

        .template-content {
          float: right;
          padding: 10px;
          width: 365px;

          .title-text {
            font-size: 14px;
            line-height: 14px;
            font-weight: bold;
            word-wrap: break-word;
            height: 14px;
            margin-bottom: 5px;
            overflow: hidden;
            color: $light-blue;
            text-decoration: underline;
          }

          .body-text {
            word-wrap: break-word;
            overflow: hidden;
            font-size: 14px;
            line-height: 14px;
            max-height: 42px;
            color: $dark-grey;

            margin-top: 5px;
            margin-bottom: 5px;
          }

          .tags {
            color: $light-grey;
            font-size: 12px;
            font-weight: bold;
            line-height: 14px;
            margin-top: 5px;
          }
          
          &::after {
            content:"";
            display:block;
            clear:both;
          }
        }

        &:hover, &.selected {
          background-color: $light-blue;
          color: $white;

          .title-text {
            color: $white;
          }
          .use-count {
            color: $white;            
          }
          .body-text {
            color: $white;            
          }
          .tags {
            color: $white;            
          }
        }
        
        &::after {
          content:"";
          display:block;
          clear:both;
        }
      }
    }

    .color-selector {
      text-align: center;
      margin-top: 100px;
      margin-bottom: 100px;      

      // color rules
      $default: #898989;
      $green: #43D45B;
      $yellow: #C5D11C;
      $red: #D44343;

      .color-option {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;

        // Hide the normal radio button displayed
        input[type="radio"] {
          display:none;
        }

        // Style the subtitle content
        input[type="radio"] + label {
          color: $dark-grey;
          font-size:14px;
        }

        // The "Replacement" radio icon
        input[type="radio"] + label span {
          display:inline-block;
          width: 25px;
          height: 65px;
          border: 3px solid $default;
          border-radius: 40px;
          cursor:pointer;
        }

        input[type="radio"] + label span {
          background-color: none;
        }

        &.default {
          input[type="radio"] + label span {
            border-color: $default;
          }
          input[type="radio"]:checked + label span{
            background-color: $default;
          }
        }

        // Custom actions for non-default button colors
        // TO DO: There has to be a better way of generating this information
        &.green {
          input[type="radio"] + label span {
            border-color: $green;
          }
          input[type="radio"]:checked + label span{
            background-color: $green;
          }
        }

        &.yellow {
          input[type="radio"] + label span {
            border-color: $yellow;
          }
          input[type="radio"]:checked + label span{
            background-color: $yellow;
          }
        }

        &.red {
          input[type="radio"] + label span {
            border-color: $red;
          }
          input[type="radio"]:checked + label span{
            background-color: $red;
          }
        }

      }

      .client-name-box {
        width: 350px;
        height: 50px;
        background-color: $default;
        color: $white;

        margin-top: 75px;
        margin-left: auto;
        margin-right: auto;

        line-height: 50px;
        font-size: 24px;
        overflow: hidden;

      }

    }

    .form-submit {
      display: block;
      border: 0px;
      border-radius: 17px;
      
      height: 35px;
      font-size: 14px;
      font-weight: 700;
      line-height: 27px;
      cursor: pointer;

      padding-left: 20px;
      padding-right: 20px;
      padding-top: 2px;
      padding-bottom: 2px;

      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;

      border: 2px solid $light-blue;
      background-color: $white;
      color: $light-blue;

      &:hover {
        background-color: $light-blue;
        color: $white;
      }

      &.fixed-width {
        width: 250px;
        overflow: hidden;
      }
    }

    .or-break {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 20px;
      

      .dash {
        padding-left: 10px;
        padding-right: 10px;
        display:inline-block;
        -webkit-transform:scale(5,1); /* Safari and Chrome */
        -moz-transform:scale(5,1); /* Firefox */
        -ms-transform:scale(5,1); /* IE 9 */
        -o-transform:scale(5,1); /* Opera */
        transform:scale(5,1); /* W3C */
      }
    }
  }

}

