
.card {
  background-color: #92C9FF;

  .card-title {
    color: #344289;
  }

  .form-label {
    color: #344289;
  }

  .form-row {

    .opt {
      color: #344289;
    }

    .blue-select {
      border: 2px solid #CDE6FF;
      background-color: #4A90E2;
      color: #FFF;
    }

  }

  .form-submit {
    background-color: #344289;
    color: #FFF;
    border: 2px solid #CDE6FF;

    &:hover {
      background-color: #CDE6FF;
      color: #344289;
      border: 2px solid #344289;
    }
  }
}

