$card-text:       #2F8CE8;
$card-text-light: #92C9FF;
$dark-blue:       #344289;
$white:           #FFF;
$light-grey:      #C5C4C4;
$dark-grey:       #898989;


// Body is going to same color as contents, all blue full bleed
// Contents to be same color so both appear to be same area
body, .contents {
  background-color: $dark-blue;
  background-image: none;
  box-shadow: none;
  border: 0;
}



// 
// Rest of the SCSS from original card V1 styles
// 

.comms-link {
  color: $card-text;
  position: absolute;
  top: 20px;
  right: 25px;

  &:hover {
    color: $card-text-light;
  }
}

.card {
  position: relative;
  background-color: $white;
  width: 450px;
  overflow-x: hidden;
  
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 10px;

  .card-head {

    .exit-btn {
      position: absolute;
      right: 10px;
      top: 10px;

      svg {
        polygon {
          fill: $light-grey;
        }
        &:hover polygon {
          fill: #898989;
        }
      }
    }

    .card-title {
      font-size: 30px;
      text-align: center;
      font-weight: 100;
      color: $dark-blue;
      padding-top: 15px;
      padding-bottom: 15px;

      // Float center
      margin-left: auto;
      margin-right: auto;

      border-bottom: 1px solid $light-grey;
      box-shadow: 0px 3px 5px rgba(0,0,0,0.075);
    }

    .card-subtitle {
      color: $dark-grey;
      font-size: 16px;
      padding: 10px;
      text-align: center;
    }

    .form-row {
      padding: 5px 10px 5px 10px;

      .opt {
        float: right;
        color: #4A90E2;
      }

      .blue-select {
        width: 280px;
        height: 35px;
        border: 2px solid #2F8CE8;
        border-radius: 7px;
        background-color: #92C9FF;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        color: #344289;

        &.half {
          width: 130px;
          float: left;
          margin-left: 20px;
          
          &:nth-child(2) {
            margin-left: 0px;
          }
        }
      }

      &::after {
        content: "";
        display: block;
        clear: both;
      }
    }

  }


  .form-label {
    font-size: 12px;
    padding-bottom: 3px;
  }

  .form-input {
    width: 260px;
    height: 21px;
    border: 2px solid #2F8CE8;
    border-radius: 7px;
    padding: 5px 8px 5px 8px;
  }

  textarea.form-input {
    height: 110px;
  }

  .form-submit {
    border: 0px;
    border-radius: 7px;
    width: 150px;
    height: 35px;
    background-color: #4A90E2;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 32px;
    margin-left: 75px;
    margin-right: 75px;

    &:hover {
      background-color: #92C9FF;
      color: #344289;
    }
  }

  // Logo for main login page style
  .logo {
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 60px;
    color: #2F8CE8;

    // TO DO: Also style vectors that are included in lieu of Font Awesome
    .fa {
      font-size: 60px;
    }

    // Vector styling
    .icon {
      svg {
        height: 120px;
      }
    }

    .text {
      svg {
        width: 100%;
      }
    }

    path {
      fill: $card-text;
    }
  }

}

