

// Variables
$white:       #FFF;
$lightgrey:   #D3D3D3;
$grey:        #898989;
$darkblue:    #344289;


// Mixins
@mixin float-center() {
  margin-left: auto;
  margin-right: auto;
}

// Style
html {
  height: 100%;
}

body {
  height: 100%;

  // Default font
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;  
  color: $grey;

  // Repeated background graphic
  background-color: $lightgrey;

  margin: 0px;
}

// Global: Remove any styling or highlighting from links
a, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}
