

// Variables
$white:       #FFF;
$offwhite:    #E8ECEF;
$lightgrey:   #D3D3D3;
$grey:        #898989;
$black:       #000;
$lightorange: #FFA500;
$orange:      #E96100;
$red:         #E50000;
$lightblue:   #4A90E2;
$blue:        #3F69B6;
$darkblue:    #344289;

$width_row1:  8%;
$width_row2:  22%;
$width_row3:  60%;
$width_row4:  5%;
$width_row5:  5%;



// Mixins
@mixin float-center() {
  margin-left: auto;
  margin-right: auto;
}


.leftBar {
  width: 25%;
  overflow-y: scroll;
  float: left;
  background-color: $white;

  .conversations {
    padding: 5px 10px 5px 10px;

    .conversation {
      padding: 5px 5px 5px 5px;
      border-bottom: 1px solid $offwhite;

      .subject {
        color: $lightblue;
        margin-bottom: 5px;
      }

      .date {
        font-size: 12px;
        padding-bottom: 5px;

        .day {
          float: left;
        }
        .time {
          float: right;
        }
        &::after {
          content:"";
          display:block;
          clear:both;
        }
      }

      &:hover {
        background-color: $lightgrey;
        color: $white;
        font-weight: 700;
      }
    }
  }
}

.rightContent {
  width: 75%;
  overflow-y: scroll;
  float: right;
  background-color: red;

  
}

