

// Variables
$white:       #FFF;
$offwhite:    #E8ECEF;
$lightgrey:   #D3D3D3;
$grey:        #898989;
$black:       #000;
$lightorange: #FFA500;
$orange:      #E96100;
$red:         #E50000;
$lightblue:   #4A90E2;
$blue:        #3F69B6;
$darkblue:    #344289;

$width_row1:  5%;
$width_row2:  50%;
$width_row3:  10%;
$width_row4:  25%;
$width_row5:  5%;
$width_row6:  5%;



// Mixins
@mixin float-center() {
  margin-left: auto;
  margin-right: auto;
}

// SCSS
.header {
  height: 20px;
  overflow: hidden;
  color: $grey;
  background-color: $lightgrey;
  line-height: 20px;
  font-size: 0.65em;

  .column {
    float: left;
    text-align: left;

    &:nth-child(1) {
      width: $width_row1;
      text-align: center;
    }
    &:nth-child(2) {
      width: $width_row2;
    }
    &:nth-child(3) {
      width: $width_row3;
      text-align: center;
    }
    &:nth-child(4) {
      width: $width_row4;
    }
    &:nth-child(5) {
      width: $width_row5;
      text-align: center;
    }
    &:nth-child(6) {
      width: $width_row6;
      text-align: center;
    }
  }
}

.clientRow {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  color: $grey;
  background-color: $white;
  cursor: pointer;

  &:hover {
    color: $white;
    font-weight: 700;
  }

  .column {
    float: left;
    text-align: left;

    .colorTag {
      width: 15px;
      height: 28px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid $white;
      border-radius: 75px;
    }

    .bigNumber {
      font-size: 1.5em;
      font-weight: 700;
      color: $lightblue;
    }

    &:nth-child(1) {
      width: $width_row1;
    }
    &:nth-child(2) {
      width: $width_row2;
    }
    &:nth-child(3) {
      width: $width_row3;
      text-align: center;
    }
    &:nth-child(4) {
      width: $width_row4;
    }
    &:nth-child(5) {
      width: $width_row5;
      text-align: center;
    }
    &:nth-child(6) {
      width: $width_row6;
      text-align: center;
    }
  }

  &:nth-child(even) {
    background-color: $offwhite;
  }
}
