

// Variables
$white:       #FFF;
$lightgrey:   #D3D3D3;
$grey:        #898989;
$darkblue:    #344289;


// Mixins
@mixin float-center() {
  margin-left: auto;
  margin-right: auto;
}

// SCSS

.applicationFrame {

  // Mixins
  @include float-center();

  // General
  width: 1024px;

  .navHeader {
    height: 45px;
    width: inherit;

    color: $white;
    background-color: $darkblue;

    overflow: hidden;

    .leftLogo {
      height: 25px;
      padding: 10px;
      padding-left: 15px;

      color: $white;
      line-height: 25px;

      svg {
        height: inherit;
        margin-right: 10px;

        float: left;

        path {
          fill: $white;
        }
      }
    }
  }

}
