
<div class="navbar">
	
	<div class="username">
		<a href="/cms">
			<i class="fa fa-home"></i>
			<%= user.first %> <%= user.middle %> <%= user.last %>
		</a>
	</div>
	
	<div class="nav-right">
	<a href="/logout">
		<small>Logout</small>
		<i class="fa fa-times"></i>
	</a>
	</div>

	<% if (typeof client !== "undefined") { %>
		<div class="nav-right">
		<a href="/cms/<%= user.cmid %>">
			<small>Client List</small>
			<i class="fa fa-list-ol"></i>
		</a>
		</div>
	<%} %>
	
	<div class="nav-right">
	<a href="javascript:window.location.href=window.location.href">
		<small>Check for Messages</small>
		<i class="fa fa-refresh"></i>
	</a>
	</div>

</div>