<!DOCTYPE HTML>
<html lang="en">

	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	  <title>ClientCOMM</title>
	</head>

	<style>
		body {
			font-family: arial, sans-serif;
			margin: 0px;
		}
		#body {
			padding-top: 20px;
			padding-bottom: 20px;
			padding-right: 60px;
			padding-left: 60px;
		}
		textarea {
			width: 100%;
			min-height: 50px;
		}
		.form-desc {
			float: left;
			width: 150px;
			font-size: 0.75em;
		}
		.msg-bubble {
			margin-bottom: 10px;
			background-color: grey; 
			color: #FFF;
			width: 50%;
			padding: 5px;
			word-wrap: break-word;
			border-radius: 5px;
		}
		.cm-resp {
			margin-left: 45%;
			background-color: #72bcd4;
		}
		header {
			height: 50px;
			background-color: #cdedd0;
			padding: 10px;
			box-shadow: 0px 5px 5px rgba(0,0,0,0.25);
		}
		header img {
			height: 50px;
		}
		footer a, header div a {
			line-height: 50px;
			background-color: rgba(54, 153, 62, 0.5);
			text-decoration: none;
			color: #FFF;
			padding: 8px;
			margin-left: 10px;
			margin-right: 10px;
		}
		footer {
			min-height: 50px;
			background-color: #cdedd0;
			padding: 10px;
			padding-bottom: 0px;
			color: #FFF;
		}
	</style>

	<body>

		<header>
			<a href="/">
				<img class="logo" src="/static/logo.svg" />
			</a>

			<div style="float:right;">
				<a href="/login">Login</a>
				<a href="/signup">Signup</a>
			</div>
		</header>

		<div id="body">

