<!DOCTYPE HTML>
<html lang="en">

	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	  <title>ClientCOMM</title>
	</head>

	<style>
		body {
			font-family: arial, sans-serif;
		}
		textarea {
			width: 100%;
			min-height: 50px;
		}
		.form-desc {
			float: left;
			width: 150px;
			font-size: 0.75em;
		}
		.msg-bubble {
			margin-bottom: 10px;
			background-color: grey; 
			color: #FFF;
			width: 50%;
			padding: 5px;
			word-wrap: break-word;
			border-radius: 5px;
		}
		.cm-resp {
			margin-left: 45%;
			background-color: #72bcd4;
		}
	</style>

	<body>

		<div>
			<b>ClientCOMM</b>
		</div>

		<hr>