<!DOCTYPE HTML>
<html lang="en">

	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	  <title>ClientComm</title>
	</head>

	<style>
		body {
			font-family: arial, sans-serif;
			margin: 0px;
			background-color: #FFF;
			color: #0084ff;
		}

		header {
			min-height: 25px;
			background-color: #FFF;
			padding: 10px 10px 5px 10px;
			border-bottom: 1px solid;
		}

		footer {
			min-height: 25px;
			padding: 5px 10px 10px 10px;
		}

		a, a:visited, a:hover, a:active {
			text-decoration: none;
			color: inherit;
		}

		#contents {
			min-height: 575px
		}

	</style>

	<body>

		<header>
			<a href="/">
				ClientComm
			</a>

			<% if (typeof notLoggedIn !== "undefined" && notLoggedIn) { %>
				<div style="float:right;">
					<a href="/login">Login</a>
				</div>
			<% } %>
		</header>

		<div id="contents">

