<!DOCTYPE HTML>
<html lang="en">

	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	  <title>ClientComm</title>
	</head>

	<style>
		body {
			font-family: arial, sans-serif;
			margin: 0px;
			background-color: #FFF;
			color: #0084ff;
		}

		header {
			min-height: 25px;
			background-color: #FFF;
			padding: 10px 10px 5px 10px;
			border-bottom: 1px solid;
		}

		footer {
			min-height: 25px;
			padding: 5px 10px 10px 10px;
		}

		a, a:visited, a:hover, a:active {
			text-decoration: none;
	    border-bottom: rgba(0,132,255,0.5);
	    border-width: 0px 0px 1px 0px;
	    border-style: none none dotted none;
			color: inherit;
		}

		#contents {
			min-height: 575px;
			padding-top: 25px;
			padding-left: 50px;
			padding-right: 50px;
		}

	</style>

	<body>

		<header>
			<a href="/">
				ClientComm
			</a>

			<div style="float:right;">
				<% if (typeof notLoggedIn !== "undefined" && notLoggedIn) { %>
					<a href="/login">Login</a>
				<% } else { %>
					<a href="/logout">Logout</a>
				<% } %>
			</div>
		</header>

		<div id="contents">

			<% if (typeof success !== "undefined" && success) { %>
				<% for (var i = 0; i < success.length; i++) { %>
					<div style="color:green">Success: <%= success[i] %></div>
				<% } %>
			<% } %>

			<% if (typeof warning !== "undefined" && warning) { %>
				<% for (var i = 0; i < warning.length; i++) { %>
					<div style="color:red">Alert: <%= warning[i] %></div>
				<% } %>
			<% } %>


