<!DOCTYPE HTML>
<html lang="en">

	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	  <title>ClientCOMM</title>
	</head>

	<style>
		body {
			font-family: arial, sans-serif;
		}
		.form-desc {
			float: left;
			width: 150px;
			font-size: 0.75em;
		}
	</style>

	<body>

		<div>
			<b>ClientCOMM</b>
		</div>

		<hr>