<% include header %>

<center>
<img class="icon" src="/static/voice.svg" />
<img class="icon" src="/static/text.svg" />
<img class="icon" src="/static/cm.svg" />
<img class="icon" src="/static/email.svg" />

<h1>
	Client CommConnect
</h1>
<i>
	"Last year's technology, today"
</i>
</center>

<% include footer %>
