<% include header %>

<div class="infoblock">
	<form method="post">

		<div class="infoblock-label">
			Account Login
		</div>

		<div class="infoblock-body">

			<div class="infoblock-row">
				<div class="infoblock-id"> email </div>
				<input class="infoblock-input" type="text" name="email" placeholder="Email" required>
			</div>

			<div class="infoblock-row">
				<div class="infoblock-id"> password </div>
				<input class="infoblock-input" type="password" name="pass" placeholder="Password">
			</div>

			<input type="submit" class="button" value="Submit">

		</div>

	</form>
</div>


<% include footer %>
