<% include header-card %>

<div class="card">

	<div class="logo">
		<i class="fa fa-comments"></i><br>
		ClientComm
	</div>

	<div class="title">
		Login
	</div>

	<form method="post">

		<div class="form-row">
			<div class="form-label"> Email </div>
			<input class="form-input" type="text" name="email" required>
		</div>

		<div class="form-row">
			<div class="form-label"> Password </div>
			<input class="form-input" type="password" name="pass" required>
		</div>

		<input type="submit" class="form-submit" value="Submit">

	</form>

</div>


<% include footer %>
