<% include header %>

<div class="infoblock">
	<form method="post">

		<div class="infoblock-label">
			Account Login
		</div>

		<div class="infoblock-body">
			<ul>
				<li>
					<br>
				</li>

				<li>
					<div class="infoblock-id">
						email
					</div>
					<input type="text" name="email" placeholder="Email" required>
				</li>

				<li>
					<div class="infoblock-id">
						password
					</div>
					<input type="password" name="pass" placeholder="Password">
				</li>

				<li>
					<input type="submit" class="button" value="Submit">
				</li>

			</ul>
		</div>

	</form>
</div>


<% include footer %>
