<% include header %>

<div class="entryform">
	<form method="post">

		<div>
			<div class="form-desc">
				Email
			</div>
			<div>
				<input type="text" name="email" placeholder="Email" required>
			</div>
		</div>

		<div>
			<div class="form-desc">
				Password
			</div>
			<div>
				<input type="password" name="pass" placeholder="Password">
			</div>
		</div>

		<input type="submit" value="Submit">

	</form>
</div>

<% include footer %>
