html {
  height: 100%; }

body {
  height: 100%;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #FFF;
  background-color: #C8C7C7;
  background-image: url("../bg.png");
  background-size: 275px 145px;
  margin: 0px;
  box-shadow: 0px 50px 50px 100px #000; }

a, a:hover, a:active {
  text-decoration: none;
  color: inherit; }

.contents {
  margin-left: auto;
  margin-right: auto;
  background-color: #F4F4F4;
  padding: 10px 25px 10px 25px;
  border: 0px solid #898989;
  border-width: 0px 1px 0px 1px;
  width: 850px;
  min-height: 100%;
  min-height: -moz-calc(100% - 20px);
  min-height: -webkit-calc(100% - 20px);
  min-height: calc(100% - 20px); }
  .contents p {
    color: #898989; }

.alerts {
  margin-left: auto;
  margin-right: auto;
  border: 0px solid #898989;
  border-width: 0px 1px 0px 1px;
  height: 30px;
  width: 850px;
  padding: 10px 25px 10px 25px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;
  text-align: center; }

.navbar {
  margin-left: auto;
  margin-right: auto;
  border: 0px solid #898989;
  border-width: 0px 1px 0px 1px;
  height: 40px;
  width: 860px;
  padding: 10px 20px 10px 20px;
  background-color: #344289;
  line-height: 40px;
  color: #92C9FF; }
  .navbar .username {
    float: left;
    font-size: 18px;
    max-width: 50%;
    cursor: pointer; }
    .navbar .username:hover {
      color: #0ADA34; }
  .navbar .nav-right {
    float: right;
    margin-left: 20px;
    cursor: pointer; }
    .navbar .nav-right svg {
      display: inline-block;
      vertical-align: middle; }
      .navbar .nav-right svg path, .navbar .nav-right svg polygon {
        fill: #92C9FF; }
    .navbar .nav-right:hover {
      color: #0ADA34; }
      .navbar .nav-right:hover path, .navbar .nav-right:hover polygon {
        fill: #0ADA34; }
