
body {
	font-family: arial, sans-serif;
	margin: 0px;
	background-color: #f2f3f3;
	color: #4BAEFF;
}

header {
	height: 40px;
	color: #FFF;
	z-index: 10;
}

header .logo-left {
	float: left;
	font-weight: 900;
}

header .identification {
	float: left;
}

header .navigation {
	text-align: right;
}

header .navigation a {
	margin-left: 10px;
}

.container, .contents {
	background-color: #4BAEFF;
	width: 850px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 25px 10px 25px;
	box-shadow: 0px -5px 10px 5px rgba(0,0,0,0.2);
}

.right-tag {
	position: fixed;
	right: -141px;
	top: 140px;

	width: 275px;
	height: 14px;

	padding: 10px 20px 10px 20px;
	margin: 0px 0px 0px 0px;

	background-color: #FFF;
	color: #4BAEFF;

	border: 1px solid #e7e8e9; 
	border-radius: 10px 0px 0px 0px;
	border-bottom: 0px;
	border-right: 0px;

	line-height: 14px;

  -webkit-transform: rotate(270deg); /* Safari and Chrome */
  -moz-transform: rotate(270deg);   /* Firefox */
  -ms-transform: rotate(270deg);   /* IE 9 */
  -o-transform: rotate(270deg);   /* Opera */
  transform: rotate(270deg);
}

.right-tag .tag-logo {
	border-right: 2px solid #4BAEFF;
	padding-right: 8px;
	margin-right: 12px;
	font-weight: 900;
}

.right-tag .tag-email {
	color: #aeb0b3;
}

.right-tag a {
	text-decoration: none;
	border-bottom: 0px;
}

.right-tag a:hover {
	text-decoration: none;
	color: inherit;
	background-color: rgba(255,255,255,0);
	border-bottom: 0px;
}

footer {
	padding: 5px 10px 5px 10px;
	position: fixed;
	bottom: 0px;
	text-align: right;
	font-size: 10px;
	line-height: 10px;
}

a, a:visited, a:hover, a:active {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
}

input[type=button], .button {
	border: 0px;
	background-color: #4BAEFF;
	color: #FFF;
	min-width: 100px;
	cursor: pointer;
}

.alerts {
	width: 200px;
	color: #FFF;
	padding: 5px 0px 5px 0px;
	text-align: center;
	width: inherit;
	font-size: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.contents {
	padding: 25px;
	box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.1);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #FFF;
}

.contents .right-nav {
	position: relative;
	top: -25px;
	right: -25px;
}

.contents .nav-btn {
	display: block;
	clear: both;
	position: relative;
	width: 150px;
	height: 16px;
	overflow: hidden;
	background-color: #4BAEFF;
	color: #FFF;
	margin-top: 3px;
	padding: 3px 10px 3px 10px;
	float: right;
	font-size: 0.8em;
}

.contents .msg-stream {
	display: block;
	clear: both;
	position: relative;
	font-size: 0.9em;
	margin-top: 40px;
}

.contents .msg-stream .msg {
	display: block;
	clear: both;
	position: relative;
	overflow:auto; 
	padding-bottom: 10px;
}

.contents .msg-stream .msg .content {
	display: block;
	max-width: 25%;
	position: relative;
	border-radius: 3px;
}

.contents .msg-stream .msg.inbound {
	color: #000;
}

.contents .msg-stream .msg.outbound {
	color: #FFF;
	text-align: right;
}

.contents .msg-stream .msg.inbound .date { 
	float: left;
	width: 220px;
	font-size: 0.75em;
	text-align: right;
}

.contents .msg-stream .msg.inbound .content { 
	float: left;	
	margin-left: 10px;
	padding: 5px 8px 3px 8px;
	background-color: #f1f0f0;
}

.contents .msg-stream .msg.inbound .content .description { 
	display: block;
	clear: both;
	position: relative;
	text-align: right;
	opacity: 0.5;
	font-size: 0.5em;
}

.contents .msg-stream .msg.outbound .date { 
	float: right;
	width: 220px;
	color: rgb(68, 190, 199) ;
	font-size: 0.75em;
	text-align: left;
	vertical-align: bottom;
}

.contents .msg-stream .msg.outbound .content { 
	float: right;	
	margin-right: 10px;
	padding: 5px 8px 3px 8px;
	background-color: rgb(68, 190, 199);
}

.contents .msg-stream .msg.outbound .content .description { 
	opacity: 0.75;
	font-size: 0.5em;
}

.contents .msg-stream .response {
	margin-left: 220px;
	margin-right: 220px;
	margin-top: 15px;
	text-align: right;
}

.contents .msg-stream .response textarea {
	border: 1px solid #e7e8e9; 
	border-radius: 3px;
}

.contents .entryform {
	margin-left: 140px;
}

.contents .infoblock, .contents .themeblock {
	font-size: 1.25em;
	line-height: 1.25em;
	padding-top: 3px;
	padding-bottom: 3px;
}

.contents .themeblock .themeblock-body {
	font-size: 0.8em;
	color: #777;
}

.contents .infoblock .infoblock-label {
	margin-top: 10px;
}

.contents .themeblock .themeblock-label {
	margin-top: 10px;
	padding-bottom: 5px;
	border-bottom: 2px solid #4BAEFF;
}

.contents .infoblock .infoblock-body, .contents .themeblock .themeblock-body {
	padding: 25px;
	border-radius: 5px;
}

.contents .infoblock .infoblock-body {
	background-color: #e7e8e9;

}

.contents .infoblock .infoblock-row, .contents .themeblock .themeblock-row {
	display: block;
	clear: both;
	height: 2em;
	line-height: 2em;
}

.contents .infoblock .infoblock-id, .contents .themeblock .themeblock-id {
	float: left;
	height: 2em;
	line-height: 2em;
	width: 275px;
	text-align: right;
}

.contents .infoblock .infoblock-id {
	color: #FFF;
}

.contents .themeblock .themeblock-id {
	color: #e7e8e9;
	margin-right: 10px;
	border-radius: 5px;
}

.contents .infoblock .infoblock-cblabel {
	color: #999;
	font-size: 0.7em;
	margin-left: 16px;
}

.contents .infoblock input.infoblock-input {
	float: left;
	border: 0px;
	width: 250px;
	height: 26px;
	margin-left: 16px;
	margin-top: 4px;
	margin-bottom: 4px;
	border-radius: 5px;
	padding: 3px 10px 3px 10px;
}

.contents .infoblock select.infoblock-select {
	float: left;
	border: 0px;
	width: 270px;
	height: 32px;
	margin-left: 16px;
	margin-top: 4px;
	margin-bottom: 4px;
	border-radius: 5px;
}

.contents .themeblock .themeblock-val {
	float: left;
}

.contents .infoblock .button {
	border: 0px;
	width: 270px;
	height: 20px;
	margin-left: 291px;
	border-radius: 5px;
	padding: 3px 10px 3px 10px;
}

.contents .chart {
	font-size: 0.75em;
	text-align: center;
	color: #999;
	width: 850px;
}

.contents .badge {
	background-color: red;
	color: #FFF;
	border-radius: 3px;
	font-size: 0.8em;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.contents .chart svg {
	height: 205px;
	width: inherit;
}

.contents .chart .c3 .c3-grid line {
  stroke: #e6e6e6;
}

.contents .chart .c3 .c3-axis path, .contents .chart .c3 .c3-axis line {
  stroke: #d3d3d3;
}

.contents .chart .c3 .c3-axis text {
  fill: #b3b3b3;
}

.contents .chart .c3 .c3-lines {
  stroke: red;
}







