
/* CARD OPTS*/

.contents .card {
	position: relative;
	width: 300px;
	padding: 110px 150px 80px 150px;
	background-color: #344289;
	margin-top: 70px;
	margin-bottom: 70px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

.card .exit {
	position: absolute;
	right: 20px;
	top: 15px;
}

.card .logo {
	font-size: 35px;
	font-weight: 900;
	text-align: center;
	margin-bottom: 60px;
	color: #2F8CE8;
}

.card .logo .fa {
	font-size: 60px;
}

.card .card-title {
	font-size: 30px;
	text-align: center;
	font-weight: 100;
	color: #92C9FF;
	padding-bottom: 15px;
}

.card .form-row {
	padding: 5px 10px 0px 10px;
}

.card .form-row .opt {
	float: right;
	color: #4A90E2;
}

.card .form-row .blue-select, .msgs .form-row .blue-select {
	height: 35px;
	border: 2px solid #2F8CE8;
	border-radius: 7px;
	background-color: #92C9FF;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	color: #344289;
}

.card .form-row .blue-select {
	width: 280px;
}

.card .form-label {
	font-size: 12px;
	padding-bottom: 3px;
}

.card .form-input {
	width: 260px;
	height: 21px;
	border: 2px solid #2F8CE8;
	border-radius: 7px;
	padding: 5px 8px 5px 8px;
}

.card textarea.form-input {
	height: 110px;
}

.card .form-submit, .msgs .form-submit {
	border: 0px;
	border-radius: 7px;
	width: 150px;
	height: 35px;
	background-color: #4A90E2;
	color: #FFF;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
}

.card .form-submit {
	margin-top: 32px;
	margin-left: 75px;
	margin-right: 75px;
}

.card .form-submit:hover {
	background-color: #92C9FF;
	color: #344289;
}



/* CLIENTS MGMT */

.contents .sort-opts {
	line-height: 14px;
	font-size: 14px;
	height: 25px;
	margin-bottom: 10px;
	color: #2F8CE8;

	display: block;
	clear: both;
	position: relative;
}

.sort-opts .toggle {
	float: left;
	margin-right: 4px;
	padding: 5px 8px 5px 8px;
	border-radius: 5px;
	cursor: pointer;
}

.sort-opts .toggle.selected {
	background-color: #2F8CE8;
	color: #FFF;
}

.sort-opts .toggle:hover {
	background-color: #92C9FF;
	color: #FFF;
}

.contents .title {
	margin-top: 30px;
	height: 40px;
	font-size: 25px;
	color: #344289;
	border: 0pc solid #C4C4C4;
	border-width: 0px 0px 1px 0px;
}

.contents .newclient {
	float: right;
	color: #D2C308;
	padding: 10px 25px 10px 25px;
	font-size: 18px;
	line-height: 35px;
	vertical-align: top;
	cursor: pointer;
}

.contents .newclient:hover {
	color: #FFF;
	background-color: #D2C308;
	padding: 10px 25px 10px 25px;
	border-radius: 10px;
}

.contents .cl-list, .contents .comm-list {
	width: 100%;
	color: #898989;
	/*margin-left: -25px;*/
	/*margin-right: -25px;*/
}

.cl-list, .comm-list {
	border-collapse: collapse;
}

.cl-list tr, .comm-list tr {
	border-top: 0px;
	border-right: 0px;
	border-bottom: 1px;
	border-left: 0px;
	border-style: solid;
	border-color: #E6E7E8;
	background-color: #FFF;
}

.cl-list tr:hover, .comm-list tr:hover {
	background-color: #FBFBFB;
}

.cl-list tr.archive {
	background-color: #898989;
}

.cl-list tr.archive:hover {
	background-color: #646464;
}

.cl-list tr.nonew td {
	color: #898989;
}

.cl-list tr .badge, .comm-list tr .badge {
	font-size: 10px;
	line-height: 18px;
	vertical-align: middle;
	background-color: red;
	color: #FFF;
	padding: 5px 10px 5px 10px;
	border-radius: 7px;
	margin-left: 10px;
}

.cl-list th, .cl-list td, .comm-list th, .comm-list td {
	padding-left: 10px;
	padding-right: 10px;
}

.cl-list th:nth-child(1), .cl-list td:nth-child(1) {
	width: 250px;
}

.comm-list th:nth-child(1), .comm-list td:nth-child(1) {
	width: 30px;
}

.comm-list td:nth-child(1) {
	text-align: center;
}

.comm-list td:nth-child(1) .fa {
	cursor: pointer;
}

.cl-list.convo-list th:nth-child(1), .cl-list.convo-list td:nth-child(1) {
	width: 375px;
}

.cl-list th:nth-child(2), .cl-list td:nth-child(2) {
	width: 400px;
}

.cl-list.convo-list th:nth-child(2), .cl-list.convo-list td:nth-child(2) {
	width: 275px;
}

.cl-list th:nth-child(3), .cl-list td:nth-child(3) {
	width: 150px;
}

.cl-list td:nth-child(3) {
	font-size: small;
}

.cl-list th:nth-child(4), .cl-list td:nth-child(4) {
	width: 30px;
	text-align: center;
}

.cl-list th:nth-child(4) button, .cl-list td:nth-child(4) button, .comm-list th:nth-child(7) button, .comm-list td:nth-child(7) button {
	border: 0px;
	background-color: rgba(255,255,255,0);
	font-size: 18px;
	color: #b3b3b3;
	cursor: pointer;
}

.comm-list th:nth-child(5), .comm-list td:nth-child(5) {
	text-align: center;
}

.comm-list td:nth-child(5) {
	font-size: 24px;
	font-weight: 700;
	color: #2F8CE8;
}

.comm-list th:nth-child(6), .comm-list td:nth-child(6) {
	width: 60px;
}

.comm-list th:nth-child(7), .comm-list td:nth-child(7) {
	width: 30px;
}
.comm-list td:nth-child(7) {
	text-align: center;
}


.cl-list th, .comm-list th {
	height: 17px;
	font-weight: 300;
	font-size: 12px;
	text-align: left;
	background-color: #F4F4F4;
	color: #898989;
}

.cl-list td, .comm-list td {
	height: 55px;
	font-size: 18px;
}

.cl-list td {
	color: #0ADA34;
}


.cl-list tr.archive td {
	color: #FFF;
}

.cl-list td .fa-stack {
	font-size: 0.9em;
}

.msgs {
	width: 900px;
	margin: -10px -25px -10px -25px;
	background-color: #FFF;
}

.msgs .msg-head {
	color: #344289;
	background-color: #FFF;
	padding: 20px 50px 40px 50px;
}

.msgs .msg-head .subject {
	color: #344289;
	background-color: #FFF;
	font-size: 22px;
}

.msgs .msg-head .state-btn {
	float: right;
}

.msgs .state-btn input.button {
	font-size: 12px;
	font-weight: 700;
	color: #D2C308;
	border: 1px solid #D2C308;
	border-radius: 7px;
	padding: 7px 10px 7px 10px;
	background: #FFF;
	cursor: pointer;
}

.msgs .state-btn input.button:hover {
	background-color: #D2C308;
	color: #FFF;
}

.msgs .msg-head .state-btn .acceptreject {
	width: 400px; 
}
.msgs .msg-head .state-btn .acceptreject input.button {
	float: right;
}

.msgs .msg-head .state-btn .acceptreject input.button:nth-child(1) {
	margin-left: 15px;
}

.msgs .state-btn input.button.red {
	color: red;
	border: 1px solid red;
}

.msgs .state-btn input.button:hover.red {
	background-color: red;
	color: #FFF;
}

.msgs .state-btn input.button.green {
	color: #00e500;
	border: 1px solid #00e500;
}

.msgs .state-btn input.button:hover.green {
	background-color: #00e500;
	color: #FFF;
}


.msgs .msg-stream {
	background-color: #E5F0FA;
	padding: 25px 50px 25px 50px;
}

.msgs .msg-stream .msg {
	width: 420px;
	word-wrap: break-word;
	margin-top: 25px;
	margin-bottom: 25px;
}

.msgs .msg-stream .msg .content {
	border: 3px solid #FFF;
	border-radius: 7px;
	padding: 7px 10px 7px 10px;
	background-color: #FFF;
	color: #2F8CE8;

	margin: 5px 0 5px 0;
}

.msgs .msg-stream .msg .sub {
	color: #898989;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
}


.msgs .msg-stream .msg .sub .state {
	float: right;
	color: #0AA629;
	font-weight: 700;
}

.msgs .msg-stream .msg.outbound {
	margin-left: 375px;
}

.msgs .msg-stream .msg.outbound .content {
	background-color: rgba(0,0,0,0);
	color: #444;
}

.msgs .msg-stream .msg.outbound .sub {
}


.msgs .msg-stream .msg.outbound .sub .state {
	color: #FF911E;
}

.msgs .msg-resp {
	min-height: 300px;
	background-color: #898989;
	padding: 25px 50px 25px 50px;
}

.msgs .msg-resp form {
	margin-left: 375px;
	width: 420px;
}

.msgs .msg-resp .closed-msg p {
	float: right;
}

.msgs .msg-resp .state-btn {
	float: right;
}

.msgs .form-row .blue-select {
	width: 420px;
}

.msgs .form-row textarea {
	width: 396px;
	height: 80px;
	border: 2px solid #FFF;
	border-radius: 7px;
	background-color: #CDE6FF;
	padding: 15px 10px 15px 10px;
	font-size: 12px;
	color: #444;
	margin-top: 10px;
	margin-bottom: 15px;
}

.msgs .form-submit {
	float: right;
	border: 2px solid #FFF;
	background-color: #FFF;
	color: #2F8CE8;
}

.msgs .form-submit:hover {
	background-color: #2F8CE8;
	color: #FFF;
}








































