html {
  height: 100%; }

body {
  height: 100%;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #898989;
  background-color: #D3D3D3;
  margin: 0px; }

a, a:hover, a:active {
  text-decoration: none;
  color: inherit; }
