.header {
  height: 20px;
  overflow: hidden;
  color: #2A2A2A;
  background-color: #D3D3D3;
  line-height: 20px;
  font-size: 0.65em; }
  .header .column {
    float: left;
    text-align: left;
    cursor: pointer; }
    .header .column:nth-child(1) {
      width: 30%;
      text-indent: 15px; }
    .header .column:nth-child(2) {
      width: 45%; }
    .header .column:nth-child(3) {
      width: 10%; }
    .header .column:nth-child(4) {
      width: 5%;
      text-align: center; }
    .header .column:nth-child(5) {
      width: 5%;
      text-align: center; }
    .header .column:nth-child(6) {
      width: 5%;
      text-align: center; }

.communicationRow {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  color: #898989;
  background-color: #FFF; }
  .communicationRow:hover {
    color: #FFF;
    background-color: #4A90E2 !important; }
    .communicationRow:hover .bigNumber {
      color: #FFF !important; }
  .communicationRow .column {
    float: left;
    text-align: left; }
    .communicationRow .column .bigNumber {
      font-size: 1.5em;
      font-weight: 700;
      color: #4A90E2; }
    .communicationRow .column .name {
      padding-left: 15px; }
    .communicationRow .column .subject {
      font-weight: 700; }
    .communicationRow .column .fa.highlight {
      padding: 5px;
      width: 16px;
      max-width: 16px;
      height: 16px;
      max-height: 16px;
      border-radius: 50%; }
      .communicationRow .column .fa.highlight:hover {
        color: #898989;
        background-color: #FFF; }
    .communicationRow .column:nth-child(1) {
      width: 30%; }
    .communicationRow .column:nth-child(2) {
      width: 45%;
      text-align: left; }
    .communicationRow .column:nth-child(3) {
      width: 10%; }
    .communicationRow .column:nth-child(4) {
      width: 5%;
      text-align: center; }
    .communicationRow .column:nth-child(5) {
      width: 5%;
      text-align: center; }
    .communicationRow .column:nth-child(6) {
      width: 5%;
      text-align: center; }
  .communicationRow:nth-child(even) {
    background-color: #E8ECEF; }
