.leftBar {
  width: 25%;
  overflow-y: scroll;
  float: left;
  background-color: #FFF; }
  .leftBar .conversations {
    padding: 5px 10px 5px 10px; }
    .leftBar .conversations .conversation {
      padding: 5px 5px 5px 5px;
      border-bottom: 1px solid #E8ECEF; }
      .leftBar .conversations .conversation .subject {
        color: #4A90E2;
        margin-bottom: 5px; }
      .leftBar .conversations .conversation .date {
        font-size: 12px;
        padding-bottom: 5px; }
        .leftBar .conversations .conversation .date .day {
          float: left; }
        .leftBar .conversations .conversation .date .time {
          float: right; }
        .leftBar .conversations .conversation .date::after {
          content: "";
          display: block;
          clear: both; }
      .leftBar .conversations .conversation:hover {
        background-color: #D3D3D3;
        color: #FFF;
        font-weight: 700; }

.rightContent {
  width: 75%;
  float: right;
  background-color: red; }
