.applicationFrame .navSub {
  position: absolute;
  top: 41px;
  width: 1022px;
  height: 55px;
  background-color: #4A90E2;
  border-bottom: 1px solid #E8ECEF;
  border-left: 1px solid #E8ECEF;
  border-right: 1px solid #E8ECEF;
  overflow: hidden;
  position: fixed; }
  .applicationFrame .navSub .leftTab {
    height: inherit;
    float: left;
    color: #FFF;
    line-height: 55px;
    margin-right: 50px; }
    .applicationFrame .navSub .leftTab .icon {
      float: left;
      margin-left: 15px;
      font-size: 20px;
      color: #FFF; }
    .applicationFrame .navSub .leftTab .title {
      float: left;
      margin-left: 10px;
      font-size: 18px;
      cursor: pointer;
      font-weight: 700; }
  .applicationFrame .navSub .rightTab {
    height: inherit;
    width: auto;
    float: left;
    color: #FFF;
    line-height: 55px; }
    .applicationFrame .navSub .rightTab.open {
      background-color: #344289;
      padding-left: 10px;
      padding-right: 10px; }
      .applicationFrame .navSub .rightTab.open .title {
        display: inline;
        margin-left: 15px;
        margin-right: 15px;
        font-weight: 700;
        font-size: 18px;
        cursor: pointer; }
      .applicationFrame .navSub .rightTab.open .option {
        display: inline;
        font-size: 14px;
        padding: 3px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 0px;
        border-radius: 15px;
        cursor: pointer;
        border: 1px solid #344289; }
        .applicationFrame .navSub .rightTab.open .option:hover {
          border: 1px solid #FFF; }
        .applicationFrame .navSub .rightTab.open .option.selected {
          border: 1px solid #FFF;
          background-color: #FFF;
          color: #344289; }
          .applicationFrame .navSub .rightTab.open .option.selected:hover {
            border: 1px solid #FFF; }
        .applicationFrame .navSub .rightTab.open .option:nth-last-child(1) {
          margin-right: 15px; }
    .applicationFrame .navSub .rightTab.closed .title {
      display: inline;
      margin-left: 15px;
      margin-right: 15px;
      cursor: pointer; }
    .applicationFrame .navSub .rightTab.closed .option {
      display: none; }
    .applicationFrame .navSub .rightTab.closed:hover {
      background-color: #3F69B6; }
  .applicationFrame .navSub .rightActions {
    float: right;
    line-height: 55px;
    font-size: 12px;
    color: #FFF;
    padding-left: 7px;
    padding-right: 12px; }
    .applicationFrame .navSub .rightActions .fa-stack.fa-lg {
      font-size: 15px; }
    .applicationFrame .navSub .rightActions .fa.fa-inverse {
      color: #4A90E2; }
    .applicationFrame .navSub .rightActions .text {
      display: none; }
    .applicationFrame .navSub .rightActions:hover {
      background-color: #3F69B6; }
      .applicationFrame .navSub .rightActions:hover .fa.fa-inverse {
        color: #3F69B6; }
      .applicationFrame .navSub .rightActions:hover .text {
        display: inline; }

.applicationFrame .coreContent {
  padding-top: 97px;
  background-color: #E8ECEF; }

.applicationFrame .emptyResultsGreeting {
  text-align: middle;
  background-color: #D3D3D3; }
  .applicationFrame .emptyResultsGreeting .message {
    padding-top: 75px;
    padding-left: 15px;
    float: left;
    line-height: 50px;
    font-size: 44px;
    width: 80%; }
    .applicationFrame .emptyResultsGreeting .message small {
      font-size: 36px; }
  .applicationFrame .emptyResultsGreeting .icon {
    float: right;
    font-size: 150px;
    padding: 25px 25px 0px 25px; }
  .applicationFrame .emptyResultsGreeting::after {
    content: "";
    display: block;
    clear: both; }
