.jscolor {
  float: left;
  border: 2px solid #4A90E2;
  border-radius: 4px;
  cursor: pointer;
  height: 32px;
  width: 100px;
  max-width: 100px;
  padding: 5px 10px 5px 10px; }

.colorTagName {
  float: left;
  width: 265px !important;
  margin-left: 15px; }

.colorTagAdd {
  float: right;
  font-size: 28px;
  cursor: pointer;
  color: #4A90E2; }
  .colorTagAdd:hover {
    color: #3F69B6; }
