.createNewColor {
  margin-top: 30px;
  margin-bottom: 40px; }
  .createNewColor .jscolor {
    border: 2px solid #4A90E2;
    border-radius: 50px;
    cursor: pointer;
    height: 100px;
    width: 100px;
    max-width: 100px;
    font-size: 26px;
    font-weight: bold;
    color: #4A90E2 !important; }
  .createNewColor .colorTagName {
    width: 265px !important;
    margin-top: 10px; }
  .createNewColor .colorTagAdd {
    margin-top: 10px;
    font-size: 28px;
    cursor: pointer;
    color: #4A90E2; }
    .createNewColor .colorTagAdd:hover {
      color: #3F69B6; }
  .createNewColor::after {
    content: "";
    display: block;
    clear: both; }

.listedColor .colorBox {
  float: left;
  border: 2px solid #D3D3D3;
  border-radius: 4px;
  height: 28px;
  width: 96px;
  max-width: 100px; }
  .listedColor .colorBox.pillShaped {
    width: 15px;
    border-radius: 10px;
    border: 1px solid #FFF;
    margin-left: 30px;
    content: " "; }

.listedColor .colorName {
  float: left;
  line-height: 32px;
  width: 265px;
  margin-left: 15px; }

.listedColor .colorTagRemove {
  float: right;
  font-size: 28px;
  margin-right: 30px;
  cursor: pointer;
  color: #898989; }
  .listedColor .colorTagRemove:hover {
    color: #000; }

.listedColor::after {
  content: "";
  display: block;
  clear: both; }

.manageColorsLink {
  margin-left: 35px;
  margin-right: 35px;
  z-index: 10;
  text-align: left;
  color: #4A90E2;
  padding: 5px 10px 5px 10px;
  font-size: 12px;
  cursor: pointer;
  line-height: 32px;
  font-size: 14px; }
  .manageColorsLink .fa {
    font-size: 22px;
    vertical-align: sub; }

.coloredClientFrame .clientNameBox {
  margin-left: 35px;
  margin-right: 35px;
  height: 40px;
  background-color: red;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  overflow: hidden;
  color: #FFF; }

.coloredClientFrame .clientColorNameSelected {
  text-align: center;
  font-size: 12px;
  line-height: 22px;
  color: #898989; }

.colorList {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  margin-left: 35px;
  margin-right: 35px; }
  .colorList .colorTag {
    float: left;
    width: 15px;
    height: 28px;
    margin-left: 180px;
    border: 1px solid #FFF;
    border-radius: 10px;
    content: " "; }
  .colorList .colorName {
    float: left;
    line-height: 30px;
    margin-left: 15px;
    color: #898989; }
  .colorList:hover {
    background-color: #E8ECEF;
    font-weight: 700; }
  .colorList::after {
    content: "";
    display: block;
    clear: both; }

.formSubmit {
  margin-top: 40px; }
