.limitedByBanner {
  font-size: 12px;
  line-height: 18px;
  background-color: #4A90E2;
  text-align: center;
  color: #FFF; }

.header {
  height: 20px;
  overflow: hidden;
  color: #2A2A2A;
  background-color: #D3D3D3;
  line-height: 20px;
  font-size: 0.65em; }
  .header .column {
    float: left;
    text-align: left;
    cursor: pointer; }
    .header .column:nth-child(1) {
      width: 5%;
      text-align: center; }
    .header .column:nth-child(2) {
      width: 25%; }
    .header .column:nth-child(3) {
      width: 5%; }
    .header .column:nth-child(4) {
      width: 15%;
      text-align: center; }
    .header .column:nth-child(5) {
      width: 25%; }
    .header .column:nth-child(6) {
      width: 5%;
      text-align: center; }
    .header .column:nth-child(7) {
      width: 5%;
      text-align: center; }
    .header .column:nth-child(8) {
      width: 5%;
      text-align: center; }
    .header .column:nth-child(9) {
      width: 5%;
      text-align: center; }
    .header .column:nth-child(10) {
      width: 5%;
      text-align: center; }

.clientRow {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  color: #898989;
  background-color: #FFF;
  border-bottom: 1px solid #E8ECEF; }
  .clientRow:hover {
    color: #FFF;
    font-weight: 700;
    background-color: #898989 !important; }
  .clientRow .column {
    float: left;
    text-align: left; }
    .clientRow .column .clientName {
      padding: 5px 10px 5px 10px;
      border-radius: 5px; }
      .clientRow .column .clientName:hover {
        background-color: rgba(255, 255, 255, 0.5); }
    .clientRow .column .colorTag {
      width: 15px;
      height: 28px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #FFF;
      border-radius: 75px; }
    .clientRow .column .bigNumber {
      display: block;
      height: 35px;
      width: 35px;
      line-height: 35px;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: #FFF;
      color: #4A90E2;
      text-align: center;
      font-size: 28px;
      font-weight: 700;
      margin-top: 7px;
      margin-left: auto;
      margin-right: auto;
      cursor: default; }
    .clientRow .column .leftIconMargin {
      color: #739b73;
      margin-left: 30px; }
    .clientRow .column .fa.highlight {
      padding: 5px;
      width: 16px;
      max-width: 16px;
      height: 16px;
      max-height: 16px;
      border-radius: 50%;
      text-align: center; }
      .clientRow .column .fa.highlight:hover {
        color: #898989;
        background-color: #FFF; }
    .clientRow .column:nth-child(1) {
      width: 5%;
      text-align: center; }
    .clientRow .column:nth-child(2) {
      width: 25%; }
    .clientRow .column:nth-child(3) {
      width: 5%; }
    .clientRow .column:nth-child(4) {
      width: 15%;
      text-align: center; }
    .clientRow .column:nth-child(5) {
      width: 25%; }
    .clientRow .column:nth-child(6) {
      width: 5%;
      text-align: center; }
    .clientRow .column:nth-child(7) {
      width: 5%;
      text-align: center; }
    .clientRow .column:nth-child(8) {
      width: 5%;
      text-align: center; }
    .clientRow .column:nth-child(9) {
      width: 5%;
      text-align: center; }
    .clientRow .column:nth-child(10) {
      width: 5%;
      text-align: center; }
  .clientRow.inactive {
    background-color: #E8ECEF;
    border-bottom: 1px solid #FFF; }
