.header {
  height: 20px;
  overflow: hidden;
  color: #2A2A2A;
  background-color: #D3D3D3;
  line-height: 20px;
  font-size: 0.65em; }
  .header .column {
    float: left;
    text-align: left;
    cursor: pointer; }
    .header .column:nth-child(1) {
      width: 5%;
      text-align: center; }
    .header .column:nth-child(2) {
      width: 15%; }
    .header .column:nth-child(3) {
      width: 15%; }
    .header .column:nth-child(4) {
      width: 10%;
      text-align: center; }
    .header .column:nth-child(5) {
      width: 30%; }
    .header .column:nth-child(6) {
      width: 15%; }
    .header .column:nth-child(7) {
      width: 5%;
      text-align: center; }
    .header .column:nth-child(8) {
      width: 5%;
      text-align: center; }

.notificationRow {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  color: #898989;
  background-color: #FFF; }
  .notificationRow:hover {
    color: #FFF;
    background-color: #4A90E2 !important; }
    .notificationRow:hover .bigNumber {
      color: #FFF !important; }
  .notificationRow .column {
    float: left;
    text-align: left; }
    .notificationRow .column .bigNumber {
      font-size: 1.5em;
      font-weight: 700;
      color: #4A90E2; }
    .notificationRow .column .departmentName {
      padding: 5px 10px 5px 10px;
      border-radius: 5px; }
      .notificationRow .column .departmentName:hover {
        background-color: rgba(255, 255, 255, 0.5); }
    .notificationRow .column .time {
      font-size: 12px; }
    .notificationRow .column .subject {
      font-weight: 700; }
    .notificationRow .column .subject, .notificationRow .column .message {
      font-size: 12px; }
    .notificationRow .column .fa.highlight, .notificationRow .column .ss.highlight {
      padding: 5px;
      width: 16px;
      max-width: 16px;
      height: 16px;
      max-height: 16px;
      border-radius: 50%; }
      .notificationRow .column .fa.highlight:hover, .notificationRow .column .ss.highlight:hover {
        color: #898989;
        background-color: #FFF; }
    .notificationRow .column:nth-child(1) {
      width: 5%;
      text-align: center; }
    .notificationRow .column:nth-child(2) {
      width: 15%; }
    .notificationRow .column:nth-child(3) {
      width: 15%; }
    .notificationRow .column:nth-child(4) {
      width: 10%;
      text-align: center; }
    .notificationRow .column:nth-child(5) {
      width: 30%; }
    .notificationRow .column:nth-child(6) {
      width: 15%; }
    .notificationRow .column:nth-child(7) {
      width: 5%;
      text-align: center; }
    .notificationRow .column:nth-child(8) {
      width: 5%;
      text-align: center; }
  .notificationRow:nth-child(even) {
    background-color: #E8ECEF; }
