.applicationFrame .navSub {
  position: absolute;
  top: 46px;
  width: inherit;
  height: 45px;
  background-color: #4A90E2;
  border-bottom: 1px solid #FFF;
  overflow: hidden;
  position: fixed; }
  .applicationFrame .navSub.orgLevel {
    background-color: #6783a1;
    color: #516a84; }
    .applicationFrame .navSub.orgLevel .leftTab.open {
      background-color: #3c5065;
      color: #FFF; }
      .applicationFrame .navSub.orgLevel .leftTab.open.selected, .applicationFrame .navSub.orgLevel .leftTab.open:hover {
        background-color: #3c5065;
        color: #FFF; }
      .applicationFrame .navSub.orgLevel .leftTab.open .option.selected, .applicationFrame .navSub.orgLevel .leftTab.open .option:hover {
        background-color: #FFF;
        color: #6783a1; }
    .applicationFrame .navSub.orgLevel .leftTab.closed {
      background-color: #6783a1;
      color: #FFF; }
      .applicationFrame .navSub.orgLevel .leftTab.closed.selected, .applicationFrame .navSub.orgLevel .leftTab.closed:hover {
        background-color: #516a84;
        color: #FFF; }
    .applicationFrame .navSub.orgLevel .rightActions .fa.fa-inverse {
      color: #6783a1; }
    .applicationFrame .navSub.orgLevel .rightActions:hover {
      background-color: #516a84; }
      .applicationFrame .navSub.orgLevel .rightActions:hover .fa.fa-inverse {
        color: #516a84; }
  .applicationFrame .navSub .leftTab {
    height: inherit;
    width: auto;
    float: left;
    color: #FFF;
    line-height: 45px; }
    .applicationFrame .navSub .leftTab.open {
      background-color: #344289; }
      .applicationFrame .navSub .leftTab.open .title {
        display: inline;
        margin-left: 15px;
        margin-right: 15px;
        font-weight: 700;
        font-size: 18px;
        cursor: pointer; }
      .applicationFrame .navSub .leftTab.open .option {
        display: inline;
        font-size: 14px;
        padding: 3px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 5px;
        border-radius: 15px;
        cursor: pointer; }
        .applicationFrame .navSub .leftTab.open .option.selected, .applicationFrame .navSub .leftTab.open .option:hover {
          background-color: #FFF;
          color: #4A90E2; }
        .applicationFrame .navSub .leftTab.open .option:nth-last-child(1) {
          margin-right: 15px; }
    .applicationFrame .navSub .leftTab.closed .title {
      display: inline;
      margin-left: 15px;
      margin-right: 15px;
      cursor: pointer; }
    .applicationFrame .navSub .leftTab.closed .option {
      display: none; }
    .applicationFrame .navSub .leftTab.closed:hover {
      background-color: #3F69B6; }
  .applicationFrame .navSub .rightActions {
    float: right;
    line-height: 45px;
    font-size: 12px;
    color: #FFF;
    padding-left: 10px;
    padding-right: 15px; }
    .applicationFrame .navSub .rightActions .fa-stack.fa-lg {
      font-size: 12px; }
    .applicationFrame .navSub .rightActions .fa.fa-inverse {
      color: #4A90E2; }
    .applicationFrame .navSub .rightActions .text {
      display: none; }
    .applicationFrame .navSub .rightActions:hover {
      background-color: #3F69B6; }
      .applicationFrame .navSub .rightActions:hover .fa.fa-inverse {
        color: #3F69B6; }
      .applicationFrame .navSub .rightActions:hover .text {
        display: inline; }

.applicationFrame .coreContent {
  padding-top: 92px;
  background-color: #FFF; }

.applicationFrame .emptyResultsGreeting {
  text-align: middle;
  background-color: #D3D3D3; }
  .applicationFrame .emptyResultsGreeting .message {
    padding-top: 75px;
    padding-left: 15px;
    float: left;
    line-height: 50px;
    font-size: 44px;
    width: 80%; }
    .applicationFrame .emptyResultsGreeting .message small {
      font-size: 36px; }
  .applicationFrame .emptyResultsGreeting .icon {
    float: right;
    font-size: 150px;
    padding: 25px 25px 0px 25px; }
  .applicationFrame .emptyResultsGreeting::after {
    content: "";
    display: block;
    clear: both; }

.applicationFrame .viewingAsOtherBanner {
  font-size: 12px;
  line-height: 18px;
  background-color: #4A90E2;
  text-align: center;
  color: #FFF;
  position: fixed;
  top: 92px;
  width: 1024px; }

.applicationFrame .otherBannerBumber {
  height: 18px; }
