<% include ../partials/cardFrameTop %>

<div class="cardHead">
  <!-- exit button -->
  <a href="/templates">
    <% include ../partials/cardExit %>
  </a>
  <div class="cardTitle">
    Create Template
  </div>
  <div class="cardSubtitle">
    Use templates to save time typing by saving common messages.
  </div>
</div>

<div class="cardBody">

    <form method="post" 
          action="/templates/create">

      <div class="formRow">
        <div class="formLabel">
          Subject <small>(only visible to clients via emails)</small>
        </div>
        <div class="formInput">
          <input  type="text"
                  name="title" 
                  maxlength="30" 
                  required>
        </div>
      </div>

      <div class="formRow">
        <div class="formLabel"> 
          Message
        </div>
        <div class="formInput">
          <textarea name="content"
                    rows="5"></textarea>
        </div>
      </div>

      <center>
      <input  type="submit" 
              class="formSubmit padTop" 
              value="Submit">
      </center>

    </form>

</div>

<% include ../partials/cardFrameBottom %>