<% include ../partials/cardFrameTop %>

<div class="cardHead">
  <a href="/templates">
    <% include ../partials/cardExit %>
  </a>
  <div class="cardTitle">
    Edit Template
  </div>
  <div class="cardSubtitle">
    Use templates to save time typing by saving common messages.
  </div>
</div>

<div class="cardBody">

    <form method="post" 
          action="/templates/edit/<%=template.template_id%>">

      <div class="formRow">
        <div class="formLabel">
          Template Title
        </div>
        <div class="formInput">
          <input  type="text"
                  name="title" 
                  maxlength="30" 
                  value="<%=template.title%>"
                  required>
        </div>
      </div>

      <div class="formRow">
        <div class="formLabel"> 
          Enter your templated phrase or message below.
        </div>
        <div class="formInput">
          <textarea name="content"
                    rows="5"><%=template.content%></textarea>
        </div>
      </div>

      <center>
      <input  type="submit" 
              class="formSubmit padTop" 
              value="Submit">
      </center>

    </form>

</div>

<% include ../partials/cardFrameBottom %>