<div class="alerts" <% if (ALERTS_FEED.length == 0) { %>style="display:none;"<% } %>>
  <div class="alertsBindedClickAction">
    <div class="exclamationCircle">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    </div>
    <span class="numberRemaining"><%=ALERTS_FEED.length%></span> Alerts
  </div>

  <div class="hiddenAlerts">
    <div class="arrowTop"></div>

    <div class="alertsBody receivesNewAlertsHere">
      <% ALERTS_FEED.forEach(function (alert) { %>
        <div class="alertRow">
          <div class="message">
            <b><%= alert.subject %></b>
            <%= alert.message %>
          </div>
          <div class="close" alertID="<%= alert.alert_id %>">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
          </div>
        </div>
      <% }) %>
    </div>

  </div>
</div>