<div class="exitButton">
  <!-- SVG code from Sketch -->
  <svg width="21px" height="22px" viewBox="798 -3030 21 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <polygon id="Page-1-Copy-46" stroke="none" fill="#000" fill-rule="evenodd" points="816.532265 -3029.00033 808.500164 -3020.96781 800.466972 -3029.00033 798 -3026.53323 806.032102 -3018.49962 798 -3010.4671 800.466972 -3008 808.500164 -3016.03361 816.532265 -3008 818.999237 -3010.4671 810.967135 -3018.49962 818.999237 -3026.53323"></polygon>
  </svg>
</div>