<div class="emptyResultsGreeting">
  <div class="icon">
    <i class="ss ss-search"></i>
  </div>
  <div class="message">
    <b>Looks like there are no results.</b> 
    <br>
    <small>Use the action items in the top bar to continue.</small>
  </div>
</div>