<% include headers/header %>

<center>
  <h1 style="font-size:7vw">
    <i class="fa fa-comments"></i>
    ClientComm 
  </h1>

  <p><i>
    <i class="fa fa-flask"></i>
    This is an early stage pilot for research purposes only.
  </i></p>
  <p>
    Please use contact link in footer for more information, or <a href="/login">login</a> if you have an account.
  </p>
</center>

<script type="text/javascript">
</script>

<% include footer %>
