<% include ../partials/cardFrameTop %>

<div class="cardHead">
  <!-- exit button -->
  <a href="/groups">
    <% include ../partials/cardExit %>
  </a>
  <div class="cardTitle">
    Message Group
  </div>
  <div class="cardSubtitle">
    This will create a new conversation with each client in the group. 
    <br>
    Message will be sent to each client in this group using Smart Select, which determines the best contact method for each client.
  </div>
</div>

<div class="cardBody">

  <form method="post"
        action="/groups/address/<%= parameters.groupID || parameters.group %>">

    <div class="formRow smallBottomPad">
      <div class="formLabel"> Subject <small>(only visible to clients via email)</small></div>
      <div class="formInput">
        <input  type="text" 
                name="title" 
                value="" 
                placeholder="" 
                maxlength="100">
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Message </div>
      <div class="formInput">
        <textarea name="content" rows="5" required></textarea>
      </div>
    </div>

    <input  type="submit" 
            class="formSubmit padTop" 
            value="Send">
  </form>

</div>


<script type="text/javascript" class="JSgroupsAddress"></script>

<% include ../partials/cardFrameBottom %>