<% include ../partials/headers/header-base %>

<!-- Include Card View specific styling -->
<link rel="stylesheet" type="text/css" href="/static/css/card.css">

<div class="contents">

  <div class="card">

    <div class="logo">
      <div class="icon">
        <% include ../../public/icons/logo.svg %>
      </div>
      <div class="text">
        <% include ../../public/icons/logotext.svg %>
      </div>
    </div>

    <div class="card-title">
      Login
    </div>

    <form method="post">

      <div class="form-row">
        <div class="form-label"> Email </div>
        <input class="form-input" type="text" name="email" required>
      </div>

      <div class="form-row">
        <div class="form-label"> Password </div>
        <input class="form-input" type="password" name="pass" required>
      </div>

      <input type="submit" class="form-submit" value="Submit">

    </form>

    <div style="margin-top: 50px;">
      <center><small>
        Forgot password? 
        <a href="/login/reset"><b>Reset now.</b></a>
      </small></center>
    </div>

  </div>

<div style="color: #888888">
  <center>Version 3.5.1</center>
</div>

</div>

<% include ../partials/footers/footer %>
