<% include ../partials/cardFrameTop %>

<div class="cardHead">
  <div class="cardLogo">
    <div class="icon"><% include ../../../public/icons/logo.svg %></div>
    <div class="title"><% include ../../../public/icons/logotext.svg %></div>
</div>

<div class="cardBody">

  <div style="width: 100%; 
              display: none;
              background-color: #4A90E2; 
              color: #FFF; 
              text-align: center;
              line-height: 36px;
              padding-top: 10px;
              padding-bottom: 10px;
              font-size: 18px;
              margin-bottom: 46px;
              -moz-box-shadow:    inset  0  15px 15px -15px rgba(0,0,0,0.5), 
                                  inset  0 -15px 15px -15px rgba(0,0,0,0.5);
              -webkit-box-shadow: inset  0  15px 15px -15px rgba(0,0,0,0.5), 
                                  inset  0 -15px 15px -15px rgba(0,0,0,0.5);
               box-shadow:        inset  0  15px 15px -15px rgba(0,0,0,0.5), 
                                  inset  0 -15px 15px -15px rgba(0,0,0,0.5);
              font-weight: bold"
      id="useChromeAlert">
    App is currently only compatible with Chrome.
    <br>
    <small>
      Don't have Chrome browser?
      <a  href="https://www.google.com/chrome/browser/desktop/index.html" 
          style="text-decoration: underline">
        Download now.
      </a>
    </small>
  </div>

  <script type="text/javascript">
    $('#useChromeAlert').slideDown('slow');
  </script>

  <form method="post" action="/login">

    <div class="formRow">
      <div class="formLabel"> Email </div>
      <div class="formInput">
        <input type="text" name="email" required>
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Password </div>
      <div class="formInput">
        <input type="password" name="pass" required>
      </div>
    </div>

    <input type="submit" class="formSubmit padTop" value="Submit">

  </form>

  <div style="padding: 20px;">
    <center><small>
      Forgot password? 
      <a href="/login/reset"><b>Reset now.</b></a>
    </small></center>
  </div>


  <div style="color: #888888; padding: 15px;">
    <center>Version <%= CLIENTCOMM_APPLICATION.VERSION %></center>
  </div>

</div>

<% include ../partials/cardFrameBottom %>