<% include ../partials/cardFrameTop %>

<div class="cardHead">
  <div class="cardTitle">Password Reset</div>
    <div class="cardSubtitle">Reset the password for <%= reset.email %>'s account. This action cannot be undone.</div>
</div>


    <form method="post">

      <input type="hidden" name="pwresid" value="<%= reset.pwresid %>">
      <input type="hidden" name="cmid" value="<%= reset.cmid %>">
      <input type="hidden" name="uid" value="<%= reset.uid %>">

      <div class="form-row">
        <div class="form-label"> Password </div>
        <input class="form-input" type="password" name="pass" value="" required>
      </div>

      <div class="form-row">
        <div class="form-label"> Password (re-enter) </div>
        <input class="form-input" type="password" name="pass2" value="" required>
      </div>

      <input type="submit" class="form-submit" value="Update Password">

    </form>

    <div style="margin-top: 50px;">
      <center><small>
        <a href="/login"><b>Return to main Login page.</b></a>
      </small></center>
    </div>

  </div>

</div>

<% include ../partials/footers/footer %>
