<% include ../partials/headers/header-base %>

<!-- Include Card View specific styling -->
<link rel="stylesheet" type="text/css" href="/static/css/card.css">

<div class="contents">

  <div class="card">

    <div class="card-title">
      Email Sent
    </div>

    <div style="margin-top: 20px; margin-bottom: 40px;">
      <small>
        An email has been sent to <%= cm.email %>. Please check your email to reset your password.
      </small>
    </div>


    <form method="post" action="/login/reset">

      <div class="form-row">
        <div class="form-label"> Reset Email Address </div>
        <input class="form-input" type="text" name="email" value="<%= cm.email %>" required>
      </div>

      <input type="submit" class="form-submit" value="Resend Email">

    </form>

    <div style="margin-top: 50px;">
      <center><small>
        <a href="/login"><b>Return to Login page.</b></a>
      </small></center>
    </div>

  </div>


</div>

<% include ../partials/footers/footer %>