<% include ../partials/cardFrameTop %>

<div class="cardHead">
  <div class="cardTitle">Password Reset</div>
    <div class="cardSubtitle">Submit the email you use to log in to ClientComm and we will send you a password reset unique link.</div>
</div>

<div class="cardBody">

  <form method="post">

    <div class="formRow">
      <div class="formLabel"> Account Email </div>
      <div class="formInput">
        <input type="text" name="email" required>
      </div>
    </div>

    <input type="submit" class="formSubmit padTop" value="Send Email">

  </form>

  <div style="padding: 20px;">
    <center><small>
      Know your password? 
      <a href="/login"><b>Login now.</b></a>
    </small></center>
  </div>

</div>

<% include ../partials/cardFrameBottom %>