<% include ../partials/cardFrameTop %>

<div class="cardHead">
  <a href="<%=`/clients/${client.clid}/communications`%>">
    <% include ../partials/cardExit %>
  </a>
  <div class="cardTitle">
    Create Contact Method
  </div>
  <div class="cardSubtitle">
    Create new contact methods to update client communication options.
  </div>
</div>



<div class="cardBody">
  <form method="post">

    <div class="formRow">
      <div class="formLabel"> Name (ex: "Aunt's Phone") </div>
      <div class="formInput">
        <input type="text" name="description" value="" maxlength="30" required>
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Communication Type </div>
      <select class="blueSelect" name="type">
        <option value="" disabled> Comm Method</option>
        <option value="email" disabled>Email</option>
        <option value="cell" selected>Cellphone</option>
        <option value="landline" disabled>Landline</option>
      </select>
    </div>

    <div class="formRow">
      <div class="formLabel"> Details (ex: phone number, email) </div>
      <div class="formInput">
        <input type="text" name="value" value="" placeholder="1-308-123-4567 or joanna@example.com">
      </div>
    </div>

    <input type="submit" class="formSubmit" value="Update">

  </form>
</div>



<% include ../partials/cardFrameBottom %>