<% include ../partials/clientHubFrameTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_clientConversations.css">

<div class="header">
  <div class="column">client namse</div>
  <div class="column">send at</div>
  <div class="column">message</div>
  <div class="column">edit</div>
  <div class="column">delete</div>
</div>





<% include ../partials/hubFrameBottom %>