<% include ../partials/cardFrameTop %>

<div class="cardHead">
  <!-- exit button -->
  <a href="<%=`${level === "org" ? "/org/clients" : "/clients"}`%>"><% include ../partials/cardExit %></a>
  <div class="cardTitle">Create Client</div>
  <div class="cardSubtitle">Create new clients to establish a profile through which to maintain contact.</div>
</div>

<div class="cardBody">

  <form method="post" id="createForm">

    <% if (["owner", "supervisor"].indexOf(user.class) > -1) { %>
      <div class="formRow">
        <div class="formLabel">
          Attach to the following case manager
        </div>
        <div class="formInput">
          <input type="hidden" id="targetUser" name="targetUser" required>
          <input class="typeahead" type="text" placeholder="Case manager name">
        </div>
      </div>
    <% } %>

    <div class="formRow">
      <div class="formLabel"> First </div>
      <div class="formInput">
        <input type="text" name="first" required>
      </div>
    </div>

    <div class="formRow subdued">
      <div class="formLabel"> Middle <span class="opt">optional</span> </div>
      <div class="formInput">
        <input type="text" name="middle">
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Last </div>
      <div class="formInput">
        <input type="text" name="last" required>
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Date of Birth <small>(YYYY-MM-DD)</small> <span class="opt">optional</span> </div>
      <div class="formInput">
        <input type="date" value="<%= moment().subtract(50, 'years').format('YYYY-MM-DD') %>" name="dob">
      </div>
    </div>

    <div class="formRow subdued">
      <div class="formLabel"> Sheriff's Number (SO#) <span class="opt">optional</span> </div>
      <div class="formInput">
        <input type="text" name="uniqueID1">
      </div>
    </div>

    <div class="formRow subdued">
      <div class="formLabel"> Offender Tracking Number (OTN) <span class="opt">optional</span> </div>
      <div class="formInput">
        <input type="text" name="uniqueID2">
      </div>
    </div>

    <input type="submit" class="formSubmit" value="Submit">

  </form>
</div>

<script src="/components/typeahead.js/dist/typeahead.jquery.min.js"></script>

<script type="text/javascript">
  $(".subdued").click(function () {
    $(this).removeClass("subdued");
    $("input[name=subject]").val("");
  });

  // All code below is also in tranfer.ejs, so we need to have this not be copied...
  // global
  <% if (users) { %>
    var users = <%- JSON.stringify(users); %>;

    var substringMatcher = function (strs) {
      return function findMatches(q, cb) {
        var matches = [];
        var substrRegex = new RegExp(q, 'i');
        $.each(strs, function(i, s) {
          var name = `${s.first} ${s.last}`;
          if (substrRegex.test(name)) matches.push(name);
        });

        cb(matches);
      };
    };

    $(".formInput .typeahead")
    .typeahead({
        hint: true,
        highlight: true,
        minLength: 1
      },
      {
        name: "users",
        value: "cmid",
        source: substringMatcher(users),
        select: function (e, i) { console.log( e, i )}
    });

    $("#createForm").submit(function (event) {
      var selectedName = $(".tt-input").val();
      var selectedUser = null;
      users.forEach(function (u) {
        var name = `${u.first} ${u.last}`;
        if (name == selectedName) selectedUser = u;
      });
      if (selectedUser) {
        $("#targetUser").val(selectedUser.cmid)
        return true;
      } else {
        event.preventDefault();
        return false;
      }
    });
  <% } %>

</script>

<% include ../partials/cardFrameBottom %>