<% include ../partials/clientFrameTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_clientCommunications.css">

<div class="header">
  <div class="column">name</div>
  <div class="column">details</div>
  <div class="column">type</div>
  <div class="column">use count</div>
  <div class="column">edit</div>
  <div class="column">delete</div>
</div>


<% include ../partials/hubFrameBottom %>