<% include ../../partials/headers/header-base %>

<!-- Include Card View specific styling -->
<link rel="stylesheet" type="text/css" href="/static/css/card.css">

<div class="contents">

<!-- Moved the exit out of the card -->
<a href="/cms/<%= user.cmid %>">
  <% include ../../partials/card-exit %>
</a>

<div class="card">

  <div class="card-title">
    Add a New Client
  </div>

  <form method="post">

    <input type="hidden" name="cmid" value="<%= user.cmid %>">

    <div class="form-row">
      <div class="form-label"> First </div>
      <input class="form-input" type="text" name="first" required>
    </div>

    <div class="form-row">
      <div class="form-label"> Middle </div>
      <input class="form-input" type="text" name="middle">
    </div>

    <div class="form-row">
      <div class="form-label"> Last </div>
      <input class="form-input" type="text" name="last" required>
    </div>

    <div class="form-row">
      <div class="form-label"> Date of Birth <small>(YYYY-MM-DD)</small> <span class="opt">optional</span> </div>
      <input class="form-input" type="date" name="dob">
    </div>

    <div class="form-row">
      <div class="form-label"> Sheriff's Number (SO#) <span class="opt">optional</span> </div>
      <input class="form-input" type="text" name="so">
    </div>

    <div class="form-row">
      <div class="form-label"> Offender Tracking Number (OTN) <span class="opt">optional</span> </div>
      <input class="form-input" type="text" name="otn">
    </div>

    <input type="submit" class="form-submit" value="Submit">

  </form>

</div>

</div>

<% include ../../partials/footers/footer %>
