<% include ../partials/headers/header %>

<div class="entryform">
  <form method="post">

    <div>
      <div class="form-desc">
        First Name
      </div>
      <div>
        <input type="text" name="first" placeholder="First Name" required>
      </div>
    </div>

    <div>
      <div class="form-desc">
        Middle Name
      </div>
      <div>
        <input type="text" name="middle" placeholder="Middle Name">
      </div>
    </div>

    <div>
      <div class="form-desc">
        Last Name
      </div>
      <div>
        <input type="text" name="last" placeholder="Last Name" required>
      </div>
    </div>

    <div>
      <div class="form-desc">
        Email
      </div>
      <div>
        <input type="email" name="email" placeholder="Email" required>
      </div>
    </div>

    <div>
      <div class="form-desc">
        Email (re-enter)
      </div>
      <div>
        <input type="email" name="email2" placeholder="Email (re-enter)" required>
      </div>
    </div>

    <div>
      <div class="form-desc">
        Password
      </div>
      <div>
        <input type="password" name="pass" placeholder="Password" required>
      </div>
    </div>

    <div>
      <div class="form-desc">
        Password (re-enter)
      </div>
      <div>
        <input type="password" name="pass2" placeholder="Password (re-enter)" required>
      </div>
    </div>

    <div>
      <div class="form-desc">
        Position
      </div>
      <div>
        <input type="text" name="position" placeholder="Position" required>
      </div>
    </div>

    <div>
      <div class="form-desc">
        Department
      </div>
      <div>
        <input type="text" name="department" placeholder="Department" required>
      </div>
    </div>

    <input type="submit" value="Submit">

  </form>
</div>

<% include ../partials/footers/footer %>
