<% include ../partials/cardFrameTop %>

<div class="cardHead">
  <a href="/org/departments"><% include ../partials/cardExit %></a>
  <div class="cardTitle">Create Department</div>
  <div class="cardSubtitle">Use departments to organize your workforce.</div>
</div>

<div class="cardBody">
  <form method = "post">

    <div class="formRow">
      <div class="formLabel"> Name of department </div>
      <div class="formInput">
        <input  type="text" 
                name="name" 
                value=""
                placeholder="Enter a name of the group" 
                maxlength="160"
                required>
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Which phone number to pair </div>
      <select class="blueSelect" 
              name="number" 
              required>
        <% phoneNumbers.forEach(function (phoneNumber) { %>
            <option value="<%= phoneNumber.phone_number_id %>">
              <%= phoneNumber.value.replace(/(\d{1})(\d{3})(\d{3})(\d{4})/, '$1 ($2) $3-$4'); %>
            </option>
        <% }) %>
      </select>
    </div>

    <input  type="submit" 
            class="formSubmit" 
            value="Submit Department">
  </form>
</div>




<% include ../partials/cardFrameBottom %>