<% include ../partials/cardFrameTop %>

<div class="cardHead">
  <a href="<%=`${level === "org" ? "/org/clients" : "/clients"}/${client.clid}`%>"><% include ../partials/cardExit %></a>
  </a>
  <div class="cardTitle">
    Voice Message
  </div>
  <div class="cardSubtitle">
    This series of cards will guide you through the steps required to create a voice message to be sent.
  </div>
</div>

<div class="cardBody">

  <form method="post">

    <div class="formRow">
      <div class="formLabel"> Review voice message </div>
      <div class="formInput">
        <button class="formSubmit green">
          <i class="fa fa-play-circle" aria-hidden="true"></i>
          Play audio recording
        </button>
      </div>
    </div>

    <input type="submit" class="formSubmit inverse" value="Save audio message and continue">

  </form>


  <a href="<%=`${level === "org" ? "/org/clients" : "/clients"}/${client.clid}`%>/voicemessage">
    <input type="submit" class="formSubmit" value="Retry recording process">
  </a>

</div>


<% include ../partials/cardFrameBottom %>