<% include ../partials/cardFrameTop %>

<div class="cardHead">
  <a href="/org/numbers"><% include ../partials/cardExit %></a>
  <div class="cardTitle">Request New Phone Number</div>
  <div class="cardSubtitle">Manage phone numbers to allow departments to have their own. This is helpful in giving support teams such as therapists their own direct lines.</div>
</div>

<div class="cardBody">

  <div class="formRow">
    <div class="formLabel"> How to request a new number </div>
    <div class="formInput"> Send an email to ClientComm suport to request or modify numbers associated with account. </div>
  </div>

  <center>
    <a href="mailto:clientcomm@codeforamerica.org">
      <input  type="submit" 
              class="formSubmit" 
              value="Send Support an Email">
    </a>
  </center>

</div>

<% include ../partials/cardFrameBottom %>