<% include ../../partials/clientHubFrameTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_clientMessages.css">

<div class="leftBar">
  <div class="conversations">
    <% conversations.forEach(function (conversation) { %>
      <div class="conversation">
        <div class="subject">
          <%= conversation.subject ? conversation.subject : 'No Subject' %>
        </div>
        <div class="date">
          <div class="day"><%= moment.tz(conversation.updated, local_tz).format("DD/MM/YY") %></div>
          <div class="time"><%= moment.tz(conversation.updated, local_tz).format("hh:mm A") %></div>
        </div>
      </div>
    <% }) %>
  </div>
</div>


<div class="rightContent">
  <% messages.forEach(function (message) { %>
    <%= message.content %> <br>
  <% }) %>
</div>

<script type="text/javascript">
  // Intended to handle issue with height of content being dynamic in height
  $(".leftBar").height($(window).height() - 92);
  $(".rightContent").height($(window).height() - 92);
</script>

<% include ../../partials/hubFrameBottom %>