<% include ../../partials/cardFrameTop %>

<div class="cardHead">
  <!-- exit button -->
  <a href="/v4/users/<%=user.cmid%>/primary/notifications">
    <% include ../../partials/cardExit %>
  </a>
  <div class="cardTitle">
    Notification Message
  </div>
  <div class="cardSubtitle">
    Use notifications to schedule messages to be sent in the future.
  </div>
</div>

<div class="cardBody">

  <div class="formRow subdued">
    <div class="formLabel"> Subject <small>(optional, not visible to clients)</small></div>
    <div class="formInput">
      <input type="text" name="subject" value="" maxlength="100" required>
    </div>
  </div>

  <div class="formRow">
    <div class="formLabel"> Message Body </div>
    <div class="formInput">
      <textarea name="message" rows="5" maxlength="160" required></textarea>
    </div>
  </div>

  <input  type="submit" 
          class="formSubmit" 
          value="Submit Notification Message">
</div>




<% include ../../partials/cardFrameBottom %>